.container {
    width: 500px;
    margin: auto;
    margin-top: 100px;
    background: white;
    color: #262626;
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-radius: 10px;
    padding: 40px 50px;
}

.container hr {
    height: 2px;
    border: none;
    background: #707070;
}

.container h2 {
    font-size: 20px;
    font-weight: 400;
}

.container ul li {
    display: flex;
    align-items: center;
    height: 50px;
    padding-left: 15px;
    border: 1px solid #686868;
    margin-bottom: 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
}

.container button {
    margin: auto;
    width: 170px;
    height: 50px;
    background: #553f9a;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    border-radius: 8px;
    cursor: pointer;
}

.container .index {
    margin: auto;
    font-size: 18px;
}

.container .correct {
    background: #dffff2;
    border-color: #00d397;
}

.container .wrong {
    background: #ffdde0;
    border-color: #ff3d4a;
}